@tailwind base;
@tailwind utilities;
@tailwind components;

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Fira Code", "Consolas", "Courier New", monospace;
}

#navbar_text {
  font-family: "Cute Font", sans-serif;
  font-size: 1.7rem;
}
